sudo: false

language: node_js

matrix:
  include:
    - node_js: "4.5.0"
    - node_js: "6"
    - node_js: "8"
    - node_js: "10"

# https://coveralls.io/github/kawanet/int64-buffer
after_success: 'npm run coveralls'
